<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation=
"http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
id="WebApp_ID" version="3.0">
	<display-name>04-12-kuznecov-sokolov</display-name>
	<servlet>
		<display-name>FrontControllerDisplay</display-name>
		<servlet-name>FrontControllerName</servlet-name>
		<servlet-class>ru.rsreu.kuznecovsokolov12.servlet.FrontController</servlet-class>
	</servlet>
  	<servlet-mapping>
    	<servlet-name>FrontControllerName</servlet-name>
    	<url-pattern>/controller</url-pattern>
  	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>/jsp/index.jsp</welcome-file>
	</welcome-file-list>
	<description>Oracle</description>
	<resource-ref>
		<description>Oracle DB Connection Pool</description>
		<res-ref-name>jdbc/database</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<filter>
		<filter-name>ServletSecurityFilter</filter-name>
		<filter-class>ru.rsreu.kuznecovsokolov12.servlet.ServletSecurityFilter</filter-class>
		<init-param>
 			<param-name>INDEX_PATH</param-name>
 			<param-value>/controller</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>ServletSecurityFilter</filter-name>
		<url-pattern>/jsp/*</url-pattern>
	</filter-mapping>
</web-app>