:root {
    --first_color:  #05386b;
    --second_color: #379683;
    --third_color:  #5cdb95;
    --fourth_color: #8ee4af;
    --fifth_color:  #edf5e1;
    
    --non_active_input_color: var(--fourth_color);
	--hover_input_color: var(--fifth_color);
	--focus_input_color: #ed574c;
	--pressed_input_color: #ed574c;
}