@import url("vars.css");

#right_bar_div {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}

#chat_type, #user_list {
	width: 90%;
	height: 47%;
	display: flex;
	flex-flow: column;
}

#chat {
	width: 90%;
	height: 90%;
	display: flex;
	flex-wrap: wrap;
	overflow-y: auto;
	column-gap: 100%;
	justify-content: start;
	align-content: flex-start;
}

.message {
	background-color: var(--fifth_color);
	border-radius: 30px;
	height: auto;
	width: auto;
	display:flex;
	justify-content: flex-start;
	align-content: center;
	flex-wrap: wrap;
}

.message_header {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.user_box, .time_and_team_box {
	width: auto;
	height: 100%;
	display: flex;
}

.message_user {
	color: var(--second_color);
	font-size: 25px;
	width: 40%;
	margin-left: 15px;
}

.message_team, .message_time {
	color: rgba(44, 212, 181, 0.7);
	font-size: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	margin-right: 30px;
}

.message_team {
	color: rgba(44, 212, 181, 0.7);
	margin-right: 0;
}

.message_content {
	width: 100%;
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.message_data {
	display: flex;
	justify-content: start;
	width: 100%;
	height: 100%;
}

#full_chats_list {
	display: flex;
	flex-flow: column;
	align-items: center;
	border-bottom: 3px dashed var(--first_color);
	border-radius: 30px;
	max-height: 80%;
	overflow-y: auto;
}

#chats_filter {
	margin-bottom: 15px;
}

#full_chats_list > .team {
	padding: 7px;
	color: var(--first_color);
	font-size: 20px;
	border: 0px solid black;
	transition: all 0.25s;
	cursor: pointer;
	margin-bottom: 3px;
}

#full_chats_list > .team:hover {
	font-size: 24px;
	color: var(--pressed_input_color);
}