@import url("vars.css");

th {
	border: 2px solid;
}

#avaliable_reports {
	width: 90%;
	display: flex;
	flex-flow: column;
	align-items: center;
}

#reports_header {
	margin-bottom: 20px;
	text-align: center;
}

#reports_buttons {
	display: flex;
	flex-flow: column;
}

.report_button {
	color: var(--first_color);
	padding: 10px;
	font-size: 18px;
	cursor: pointer;
	transition: text-shadow 0.5s;
}

.report_button:hover {
	text-shadow: 0px 0px 20px black;
}

#report_container {
	width: 90%;
	margin: 30px 0;
	display: flex;
	justify-content: center;
}

.report > * {
	margin-bottom: 20px;
}

#center_bar {
	justify-content: start;	
}

.report {
	max-width: 50%;
	position: absolute;
	opacity: 0;
}

.report:first-child {
	opacity: 1;
}

.report_button:first-child {
	text-decoration: underline black;
}

.report_caption {
	max-width: 100%;
	font-size: 30px;
	text-align: center;
	text-wrap: wrap;
}

.report_inputs, .report_table, .report_string {
	display: flex;
	justify-content: center;
}

.report_inputs {
	align-items: center;
	justify-content: start;
}

#n_teams_text_box, #n_moderator_blocked_n_text_box {
	width: 10%;
	margin-right: 20px;
}

#n_teams_search, #n_moderator_blocked_n_search {
	width: min-content;
	padding-left: 20px;
	padding-right: 20px;
}
