@import url("vars.css");

#center_bar_top {
	width: 90%;
	display: flex;
	align-self: start;
	height: 30%;
	justify-content: space-between;
}

#create_team {
	display: inline-block;
	wdith: 65%;
}

#teams_info {
	width: 25%;
	margin-left: 5px;
}

#center_bar_bottom {
	width: 90%;
	height: 60%;
}

.header_name {
}