@import url("vars.css");

#chat {
	width: 90%;
	height: 80%;
	display: flex;
	flex-wrap: wrap;
	overflow: auto;
}

#message_input_box {
	width: 90%;
	height: 10%;
}

.user_list {
	height: 300px;
	border-bottom: 2px solid black;
	margin-bottom: 40px;
}

.message {
	margin-left: 10px;
	margin-top: 20px;
	background-color: var(--fifth_color);
	border-radius: 30px;
	height: auto;
	width: 90%;
	display:flex;
	justify-content: flex-start;
	align-items:center;
	flex-wrap: wrap;
}

.message_header {
	width: 100%;
	border: 1px solid black;
	display: flex;
	justify-content: space-between;
}

.message_user {
	color: orange;
	font-size: 20px;
	width: 40%;
	border: 1px solid black;
	margin-left: 15px;
}

.message_time {
	border: 1px solid lime;
	width: 20%;	
}

.message_data {
	text-align: justify;
	display: flex;
	justify-content: center;
}
